/* Card */
.card {
    @apply p-9 shadow-md rounded-3xl;
}

/* header */
.header {
    @apply flex flex-row justify-between items-center border-navBorder border-b lg:px-10 px-2 py-5;
}

.header__logo img {
    @apply w-[50px] lg:w-[200px];
}

/* navigation */
.nav {
}
.nav__menu {
    @apply flex flex-row gap-6;
}
.nav__item {
    @apply font-semibold hover:text-green-500 ease-linear duration-200;
}

/* Dropdown */
.dropdown {
    @apply relative;
}

.dropdown__header {
    @apply p-2 rounded cursor-pointer flex justify-between items-center;
}

.dropdown__arrow {
    @apply ml-2;
}

.dropdown__options {
    @apply absolute top-full right-0 border border-navBorder bg-white z-10 shadow rounded-md w-[200px];
}

.dropdown__option {
    @apply p-2 cursor-pointer rounded-md;
}

.dropdown__option:hover {
    @apply hover:bg-gray-100 ease-linear duration-200;
}

/* Section Item */
.sectionItem {
    @apply flex flex-col items-center gap-5 lg:flex-row;
}

.sectionItem__image {
    @apply h-[200px] w-[250px] rounded-[36px] overflow-hidden sm:h-[318px] sm:w-[440px];
}

.sectionItem__cap {
    @apply flex flex-col gap-3;
}

.sectionItem__body {
    @apply flex flex-col flex-1 gap-4 items-center text-center lg:items-start lg:text-left;
}

.sectionItem__footer {
    @apply flex mt-8;
}

/* Text */
.title {
    @apply font-bold text-2xl;
}

.subtitle {
    @apply font-bold text-base;
}

/* product card */
.productCard {
    @apply flex flex-col justify-center items-center gap-1 w-[160px];
}

.productCard__image {
    @apply rounded-md overflow-hidden w-[160px] h-[160px];
}

.productCard__body {
    @apply text-center;
}

/* product Item */
.productItem {
    @apply flex;
}

.productItem__price {
    @apply font-bold;
}

.productItem--horizontal {
    @apply flex-col gap-5 items-center lg:flex-row lg:gap-16;
}

.productItem--horizontal .productItem__image {
    @apply w-[250px] shadow-lg rounded-3xl overflow-hidden;
}

.productItem--horizontal .productItem__image img {
    @apply w-full object-cover h-[220px];
}

.productItem--horizontal .productItem__body {
    @apply flex flex-col justify-between text-base flex-1 items-center lg:items-start text-center lg:text-left;
}

.productItem--vertical {
    @apply flex-col gap-12;
}

.productItem--vertical .productItem__image {
    @apply h-[400px];
}

.productItem--vertical .productItem__image img {
    @apply w-full h-full object-cover;
}

.productItem--vertical .productItem__body {
    @apply flex flex-col text-center gap-3 !text-base flex-1 px-80;
}

.productItem--vertical .productItem__body .title,
.productItem--horizontal .productItem__body .title {
    @apply !text-base;
}

/* footer */
.appFooter {
    @apply flex flex-row justify-center items-center text-white bg-[#333333] font-extralight lg:gap-36 gap-0;
}

.appFooter__logo {
    @apply mb-5;
}

/* Page Title */
.pageTitle {
    @apply flex flex-col gap-2 text-center;
}
