/* Field */
.formControl {
    @apply flex flex-col gap-1;
}

.formControl__label {
    @apply text-sm font-bold text-font-800;
}

.formControl__input {
    @apply border-font-300 border rounded-md py-3 px-3 focus-visible:ease-in-out w-full;
}

.formControl__error {
    @apply text-red-500;
}

/* Button */
.button {
    @apply py-5 px-7 w-full rounded-xl text-xl disabled:hover:cursor-not-allowed disabled:hover:bg-opacity-30;
}

.button--primary {
    @apply bg-green-500 text-white font-bold hover:bg-green-600 ease-linear duration-200;
}
